@import '../../../assets/normalize.css';

html {
    background-image: linear-gradient(180deg, #debdca 22%, rgba(37, 32, 75, 0.74) 82%);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-repeat: no-repeat;
    color: #fff;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }   

  main {   
    margin: 50px 30px 20px 30px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out; 
  }

  .literywork {    
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 20px; 
    max-width: 100%; 
    padding: 20px; 
  }
  .modal__input {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
  }

  .quotionliterywork__title{
    text-align: center;
    color: rgb(17, 17, 71);
  }

@media (max-width: 920px) {
    main {
        margin: 50px auto 20px auto; 
    }

    .literywork {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
        padding: 10px; 
    }
}

@media (max-width: 720px) {
    main {
        margin: 50px auto 20px auto; 
    }

    .literywork {
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px; 
        padding: 10px; 
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: rgba(37, 32, 75, 0.9);
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1; 
}