/* Sidebar.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: rgba(37, 32, 75, 0.9);
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1; 
}

.menu-icon__open {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.login__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el elemento hacia la derecha */
  margin-right: 2rem; /* Ajusta el margen derecho */
}

.login__link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.user-icon {
  margin-right: 0.5rem; /* Ajusta el margen entre el icono y el texto */
}
